name: Broken Links Check

on:
  schedule:
    - cron: "0 0 */2 * *"

permissions:
  contents: read

jobs:
  check-broken-links:
    name: Check Broken Links
    runs-on: hiero-client-sdk-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20

      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install pnpm
        uses: step-security/action-setup@598c7206e1c7d361165e303487aa7772566a8e05 # v4.1.0
        with:
          version: 9.15.0

      - name: Install Dependencies
        run: pnpm add @octokit/rest axios dotenv path axios-retry

      - name: Run Broken Links Check
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: node scripts/broken-links-check.js

